<div id="alert-modal" class="modal modal--alert modal--small" data-reveal data-prevent-quick-search-close>
    <div class="alert-icon error-icon">
        <span class="icon-content">
            <span class="line line-left"></span>
            <span class="line line-right"></span>
        </span>
    </div>

    <div class="alert-icon warning-icon">
        <div class="icon-content">!</div>
    </div>

    <div class="alert-icon success-icon">
        <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
    </div>
    
    <div class="modal-content"></div>

    <div class="button-container">
        <button type="button" class="confirm button" data-reveal-close>{{lang 'common.ok'}}</button>
        <button type="button" class="cancel button" data-reveal-close>{{lang 'common.cancel'}}</button>
    </div>
</div>
